.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.purple {
  color: mediumpurple;
}

.orange {
  color: darkorange;
}

.yellow {
  color: #dddd55;
}

.black {
  color: black;
}

.light-blue {
  color: deepskyblue;
}

.gray {
  color: gray;
}
