/.idea/.idea.OoTTracker/.idea/.name
/.idea/.idea.OoTTracker/.idea/encodings.xml
/.idea/.idea.OoTTracker/.idea/indexLayout.xml
/.idea/.idea.OoTTracker/.idea/projectSettingsUpdater.xml
/.idea/.idea.OoTTracker/.idea/vcs.xml
/.idea/.idea.OoTTracker/.idea/workspace.xml
