<div class="forest-checklist checklist">
  <h1 class="rounded">Zora's River</h1>

  <app-list [name]="'Zora\'s River'" [list]="riverChecks" [color]="'blue'"></app-list>

  <app-list [name]="'Zora\'s Domain'" [list]="domainChecks" [color]="'blue'"></app-list>

  <app-list [name]="'Zora\'s Fountain'" [list]="fountainChecks" [color]="'blue'"></app-list>

  <app-list [name]="dungeonSource + 'Jabu Jabu'" [color]="'blue'"></app-list>

  <app-list [name]="dungeonSource + 'Ice Cavern'" [list]="iceCavernChecks" [color]="'blue'"></app-list>
</div>
