<div class="forest-checklist checklist">
  <h1 class="rounded">Zora's River</h1>

  <div class="check-items">
    <div class="col">
      <app-list [name]="'Zora\'s River'" [list]="riverChecks" [color]="'blue'"></app-list>

      <app-list [name]="'Zora\'s Domain'" [list]="domainChecks" [color]="'blue'"></app-list>

      <app-list [name]="'Zora\'s Fountain'" [list]="fountainChecks" [color]="'blue'"></app-list>

      <app-dungeon-list [name]="dungeonSource + 'Jabu Jabu'" [itemChecks]="4" [bossKey]="false" [skullChecks]="4" [color]="'blue'" [era]="child"></app-dungeon-list>

      <app-dungeon-list [name]="dungeonSource + 'Ice Cavern'" [list]="iceCavernChecks" [itemChecks]="4" [bossKey]="false" [skullChecks]="3" [color]="'blue'"
                        [era]="adult"></app-dungeon-list>
    </div>

    <div class="col">
      <app-list [name]="'Lake Hylia'" [list]="lakeChecks" [color]="'blue'"></app-list>

      <app-dungeon-list [name]="dungeonSource + 'Water Temple'" [itemChecks]="4" [keyChecks]="6" [skullChecks]="5" [color]="'blue'"
                        [era]="adult"></app-dungeon-list>
    </div>
  </div>
</div>
