.items {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: .7rem 0 0 1.2rem;
}

.medallion-row {
  display: flex;
  flex-direction: row;
}

.medallion-column {
  display: flex;
  flex-direction: column;
}

img {
  width: 2.4rem;
  margin-right: .3rem;
  margin-bottom: .85rem;
}
