<div class="items">
  <div class="item-column">
    <div class="item-row">
      <img class="kokiri-sword" src="{{kokiriSword}}" alt="icon" (click)="toggleKokiriSword()"/>
      <img class="master-sword" src="{{masterSword}}" alt="icon" (click)="toggleMasterSword()"/>
      <img class="biggoron-sword" src="{{biggoronSword}}" alt="icon" (click)="toggleBiggoronSword()"/>
    </div>
    <div class="item-row">
      <img class="deku-shield" src="{{dekuShield}}" alt="icon" (click)="toggleDekuShield()"/>
      <img class="hylian-shield" src="{{hylianShield}}" alt="icon" (click)="toggleHylianShield()"/>
      <img class="mirror-shield" src="{{mirrorShield}}" alt="icon" (click)="toggleMirrorShield()"/>
    </div>
    <div class="item-row">
      <img class="kokiri-tunic" src="{{kokiriTunic}}" alt="icon"/>
      <img class="goron-tunic" src="{{goronTunic}}" alt="icon" (click)="toggleGoronTunic()"/>
      <img class="zora-tunic" src="{{zoraTunic}}" alt="icon" (click)="toggleZoraTunic()"/>
    </div>
    <div class="item-row">
      <img class="kokiri-boots" src="{{kokiriBoots}}" alt="icon"/>
      <img class="iron-boots" src="{{ironBoots}}" alt="icon" (click)="toggleIronBoots()"/>
      <img class="hover-boots" src="{{hoverBoots}}" alt="icon" (click)="toggleHoverBoots()"/>
    </div>
  </div>
</div>
