<div class="items">
  <div class="item-column">
    <div class="item-row">
      <app-item [source]="kokiriSword" [type]="equipment"></app-item>
      <app-item [source]="masterSword" [type]="equipment"></app-item>
      <app-item [source]="biggoronSword" [type]="equipment"></app-item>
    </div>
    <div class="item-row">
      <app-item [source]="dekuShield" [type]="equipment"></app-item>
      <app-item [source]="hylianShield" [type]="equipment"></app-item>
      <app-item [source]="mirrorShield" [type]="equipment"></app-item>
    </div>
    <div class="item-row">
      <app-item [source]="kokiriTunic" [type]="equipment"></app-item>
      <app-item [source]="goronTunic" [type]="equipment"></app-item>
      <app-item [source]="zoraTunic" [type]="equipment"></app-item>
    </div>
    <div class="item-row">
      <app-item [source]="kokiriBoots" [type]="equipment"></app-item>
      <app-item [source]="ironBoots" [type]="equipment"></app-item>
      <app-item [source]="hoverBoots" [type]="equipment"></app-item>
    </div>
  </div>
</div>
