<div class="hints path-hints">
  <div class="hint-title">
    <h2>Path Hints</h2>
    <div>
      <button (click)="addPathHint()">Add new Hint</button>
      <button (click)="resetPathHints()">Reset</button>
    </div>
  </div>
  <div class="hint path-hint" *ngFor="let num of getPathHintIteration()">
    <app-location-selection></app-location-selection>
    <label>&nbsp; path to &nbsp; </label>
    <app-boss-selection></app-boss-selection>
  </div>
</div>

<div class="hints barren-hints">
  <div class="hint-title">
    <h2>Barren Hints</h2>
    <div>
      <button (click)="addBarrenHint()">Add new Hint</button>
      <button (click)="resetBarrenHints()">Reset</button>
    </div>
  </div>
  <div class="hint barren-hint" *ngFor="let num of getBarrenHintIteration()">
    <label>Plundering &nbsp; </label>
    <app-location-selection></app-location-selection>
    <label>&nbsp; is foolish.</label>
  </div>
</div>

<div class="hints always-hints">
  <div class="hint-title">
    <h2>Always Hints</h2>
    <div>
      <button (click)="addAlwaysHint()">Add new Hint</button>
      <button (click)="resetAlwaysHints()">Reset</button>
    </div>
  </div>
  <div class="hint item-hint" *ngFor="let num of getAlwaysHintIteration()">
    <app-item-location-selection></app-item-location-selection>
    <label>&nbsp; is a &nbsp; </label>
    <app-item-selection></app-item-selection>
  </div>
</div>

<div class="hints sometimes-hints">
  <div class="hint-title">
    <h2>Sometimes Hints</h2>
    <div>
      <button (click)="addSometimesHint()">Add new Hint</button>
      <button (click)="resetSometimesHints()">Reset</button>
    </div>
  </div>
  <div class="hint item-hint" *ngFor="let num of getSometimesHintIteration()">
    <app-item-location-selection></app-item-location-selection>
    <label>&nbsp; is a &nbsp; </label>
    <app-item-selection></app-item-selection>
  </div>
</div>
