<div class="hints path-hints">
  <h2>Path Hints</h2>
  <div class="path-hint">
    <app-location-selection></app-location-selection>
    <label>&nbsp; is on the path to &nbsp; </label>
    <app-boss-selection></app-boss-selection>
  </div>
  <div class="path-hint">
    <app-location-selection></app-location-selection>
    <label>&nbsp; is on the path to &nbsp; </label>
    <app-boss-selection></app-boss-selection>
  </div>
  <div class="path-hint">
    <app-location-selection></app-location-selection>
    <label>&nbsp; is on the path to &nbsp; </label>
    <app-boss-selection></app-boss-selection>
  </div>
  <div class="path-hint">
    <app-location-selection></app-location-selection>
    <label>&nbsp; is on the path to &nbsp; </label>
    <app-boss-selection></app-boss-selection>
  </div>
  <div class="path-hint">
    <app-location-selection></app-location-selection>
    <label>&nbsp; is on the path to &nbsp; </label>
    <app-boss-selection></app-boss-selection>
  </div>
</div>

<div class="hints barren-hints">
  <h2>Barren Hints</h2>
  <div class="barren-hint">
    <label>Plundering &nbsp; </label>
    <app-location-selection></app-location-selection>
    <label>&nbsp; is foolish.</label>
  </div>
  <div class="barren-hint">
    <label>Plundering &nbsp; </label>
    <app-location-selection></app-location-selection>
    <label>&nbsp; is foolish.</label>
  </div>
  <div class="barren-hint">
    <label>Plundering &nbsp; </label>
    <app-location-selection></app-location-selection>
    <label>&nbsp; is foolish.</label>
  </div>
</div>

<div class="hints always-hints">
  <h2>Always Hints</h2>
  <div class="big-poes-always-hint">
    <app-item-selection></app-item-selection>
    <label>&nbsp; Big Poes</label>
  </div>
  <div class="skull-mask-always-hint">
    <app-item-selection></app-item-selection>
    <label>&nbsp; Skull Mask</label>
  </div>
  <div class="ocarina-always-hint">
    <app-item-selection></app-item-selection>
    <label>&nbsp; Ocarina of Time Song</label>
  </div>
  <div class="biggoron-always-hint">
    <app-item-selection></app-item-selection>
    <label>&nbsp; Biggoron</label>
  </div>
  <div class="30-skulls-always-hint">
    <app-item-selection></app-item-selection>
    <label>&nbsp; 30 Skulls</label>
  </div>
  <div class="40-skulls-always-hint">
    <app-item-selection></app-item-selection>
    <label>&nbsp; 40 Skulls</label>
  </div>
  <div class="50-skulls-always-hint">
    <app-item-selection></app-item-selection>
    <label>&nbsp; 50 Skulls</label>
  </div>
</div>

<div class="hints sometimes-hints">
  <h2>Sometimes Hints</h2>
</div>
