.path-hints {
  background-color: lightgreen;
}

.barren-hints {
  background-color: pink;
}

.always-hints {
  background-color: lightblue;
}

.sometimes-hints {
  background-color: lightyellow;
}

.hints {
  padding: .5rem 1rem;
}
