<div class="items">
  <div class="item-column">
    <div class="item-row">
      <app-item [source]="dekuSticks" [type]="item"></app-item>
      <app-item [source]="dekuNuts" [type]="item"></app-item>
      <app-item [source]="bombs" [type]="item"></app-item>
      <app-item [source]="bow" [type]="item"></app-item>
      <app-item [source]="fireArrows" [type]="item"></app-item>
      <app-item [source]="dinsFire" [type]="item"></app-item>
    </div>
    <div class="item-row">
      <app-item [source]="slingshot" [type]="item"></app-item>
      <app-item [source]="ocarina" [type]="item"></app-item>
      <app-item [source]="bombchus" [type]="item"></app-item>
      <app-item [source]="hookshot" [type]="item"></app-item>
      <app-item [source]="iceArrows" [type]="item"></app-item>
      <app-item [source]="faroresWind" [type]="item"></app-item>
    </div>
    <div class="item-row">
      <app-item [source]="boomerang" [type]="item"></app-item>
      <app-item [source]="lensOfTruth" [type]="item"></app-item>
      <app-item [source]="magicBeans" [type]="item"></app-item>
      <app-item [source]="megatonHammer" [type]="item"></app-item>
      <app-item [source]="lightArrows" [type]="item"></app-item>
      <app-item [source]="nayrusLove" [type]="item"></app-item>
    </div>
    <div class="item-row">
      <app-item [source]="rutosLetter" [type]="item"></app-item>
      <app-item [source]="bottle" [type]="item"></app-item>
      <app-item [source]="bottle" [type]="item"></app-item>
      <app-item [source]="bottle" [type]="item"></app-item>
      <app-item [source]="mask" [type]="item"></app-item>
      <app-item [source]="tradingQuest" [type]="item"></app-item>
    </div>
  </div>
</div>
