.items {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2.5rem 0 0 1.5rem;
}

.medallion-row {
  display: flex;
  flex-direction: row;
}

.medallion-column {
  display: flex;
  flex-direction: column;
}
