.green {
  font-weight: bold;
  color: green;
}

.red {
  font-weight: bold;
  color: red;
}

.blue {
  font-weight: bold;
  color: blue;
}

.purple {
  font-weight: bold;
  color: mediumpurple;
}

.orange {
  font-weight: bold;
  color: darkorange;
}
