<div class="forest-checklist checklist">
  <h1 class="rounded">Forest</h1>

  <app-list [name]="'Kokiri Forest'" [list]="kokiriChecks" [color]="'green'"></app-list>

  <app-list [name]="dungeonSource + 'Deku Tree'" [list]="dekuTreeChecks" [color]="'green'"></app-list>

  <app-list [name]="'Lost Woods'" [list]="lostWoodsChecks" [color]="'green'"></app-list>

  <app-list [name]="'Sacred Forest Meadow'" [list]="sacredForestMeadowChecks" [color]="'green'"></app-list>

  <app-list [name]="dungeonSource + 'Forest Temple'" [color]="'green'"></app-list>
</div>
