<div class="songs">
    <div class="column1">
      <app-item [source]="zeldasLullaby" [type]="song"></app-item>
      <app-item [source]="eponasSong" [type]="song"></app-item>
      <app-item [source]="sariasSong" [type]="song"></app-item>
      <app-item [source]="sunsSong" [type]="song"></app-item>
      <app-item [source]="songOfTime" [type]="song"></app-item>
      <app-item [source]="songOfStorms" [type]="song"></app-item>
    </div>
    <div class="column2">
      <app-item [source]="minuetOfForest" [type]="song"></app-item>
      <app-item [source]="boleroOfFire" [type]="song"></app-item>
      <app-item [source]="serenadeOfWater" [type]="song"></app-item>
      <app-item [source]="requiemOfSpirit" [type]="song"></app-item>
      <app-item [source]="nocturneOfShadow" [type]="song"></app-item>
      <app-item [source]="preludeOfLight" [type]="song"></app-item>
    </div>
</div>
