.songs {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: .75rem 0 0 .6rem;

  img {
    width: 2.2rem;
    padding-bottom: 1.1rem;
    margin-right: .5rem;
  }
}

.column {
  display: flex;
  flex-direction: column;
}
