<div class="forest-checklist checklist">
  <h1 class="rounded">Death Mountain</h1>

  <app-list [name]="'Trail'" [list]="trailChecks" [color]="'red'"></app-list>

  <app-list [name]="dungeonSource + 'Dodongo\'s Cavern'" [list]="dodongoChecks" [color]="'red'"></app-list>

  <app-list [name]="'Goron City'" [list]="goronCityChecks" [color]="'red'"></app-list>

  <app-list [name]="'Crater'" [list]="craterChecks" [color]="'red'"></app-list>

  <app-list [name]="dungeonSource + 'Fire Temple'" [color]="'red'"></app-list>
</div>
