<div class="items">
  <div class="medallion-row">
    <div class="medallion-column1">
      <app-item [source]="shadowMedallion" [type]="medallion" (contextmenu)="toggleDungeon($event, 'shadow')"></app-item>
      <img class="shadow-dungeon dungeon" src="{{shadowDungeon}}" alt="dungeon">
      <app-item [source]="spiritMedallion" [type]="medallion" (contextmenu)="toggleDungeon($event, 'spirit')"></app-item>
      <img class="spirit-dungeon dungeon" src="{{spiritDungeon}}" alt="dungeon">
    </div>
    <div class="medallion-column2">
      <app-item [source]="lightMedallion" [type]="medallion" (contextmenu)="toggleDungeon($event, 'light')"></app-item>
      <img class="light-dungeon dungeon" src="{{lightDungeon}}" alt="dungeon">
      <div class="blank"></div>
      <app-item [source]="waterMedallion" [type]="medallion" (contextmenu)="toggleDungeon($event, 'water')"></app-item>
      <img class="water-dungeon dungeon" src="{{waterDungeon}}" alt="dungeon">
    </div>
    <div class="medallion-column1">
      <app-item [source]="forestMedallion" [type]="medallion" (contextmenu)="toggleDungeon($event, 'forest')"></app-item>
      <img class="forest-dungeon dungeon" src="{{forestDungeon}}" alt="dungeon">
      <app-item [source]="fireMedallion" [type]="medallion" (contextmenu)="toggleDungeon($event, 'fire')"></app-item>
      <img class="fire-dungeon dungeon" src="{{fireDungeon}}" alt="dungeon">
    </div>
  </div>
  <div class="medallion-row">
    <div class="medallion-column">
      <app-item [source]="kokiriEmerald" [type]="medallion" (contextmenu)="toggleDungeon($event, 'kokiri')"></app-item>
      <img class="kokiri-dungeon dungeon" src="{{kokiriDungeon}}" alt="dungeon">
    </div>
    <div class="medallion-column">
      <app-item [source]="goronRuby" [type]="medallion" (contextmenu)="toggleDungeon($event, 'goron')"></app-item>
      <img class="goron-dungeon dungeon" src="{{goronDungeon}}" alt="dungeon">
    </div>
    <div class="medallion-column">
      <app-item [source]="zoraSapphire" [type]="medallion" (contextmenu)="toggleDungeon($event, 'zora')"></app-item>
      <img class="zora-dungeon dungeon" src="{{zoraDungeon}}" alt="dungeon">
    </div>
  </div>
</div>
