<div class="items">
  <div class="medallion-row">
    <div class="medallion-column1">
      <img class="shadow-medallion" src="{{shadowMedallion}}" alt="icon" (click)="toggleShadowMedallion()"/>
      <img class="spirit-medallion" src="{{spiritMedallion}}" alt="icon" (click)="toggleSpiritMedallion()"/>
    </div>
    <div class="medallion-column2">
      <img class="light-medallion" src="{{lightMedallion}}" alt="icon" (click)="toggleLightMedallion()"/>
      <div class="blank"></div>
      <img class="water-medallion" src="{{waterMedallion}}" alt="icon" (click)="toggleWaterMedallion()"/>
    </div>
    <div class="medallion-column1">
      <img class="forest-medallion" src="{{forestMedallion}}" alt="icon" (click)="toggleForestMedallion()"/>
      <img class="fire-medallion" src="{{fireMedallion}}" alt="icon" (click)="toggleFireMedallion()"/>
    </div>
  </div>
  <div class="medallion-row">
    <div class="medallion-column">
      <img class="kokiri-emerald" src="{{kokiriEmerald}}" alt="icon" (click)="toggleKokiriEmerald()"/>
    </div>
    <div class="medallion-column">
      <img class="goron-ruby" src="{{goronRuby}}" alt="icon" (click)="toggleGoronRuby()"/>
    </div>
    <div class="medallion-column">
      <img class="zora-sapphire" src="{{zoraSapphire}}" alt="icon" (click)="toggleZoraSapphire()"/>
    </div>
  </div>
</div>
