.items {
  width: 100%;
  padding: 1rem 0 0 1.8rem;
}

.medallion-row {
  display: flex;
  flex-direction: row;
}

.medallion-column {
  display: flex;
  flex-direction: column;
  margin: .2rem 0 0 0;
}

.medallion-column1 {
  display: flex;
  flex-direction: column;
  margin: 1.75rem 0 0 0;
}

.medallion-column2 {
  display: flex;
  flex-direction: column;
}

.blank {
  height: 3.5rem;
}

img {
  width: 2rem;
  margin-right: .6rem;
  margin-bottom: 1rem;
}
